<section id="product-display">
    <div id="product-holder" class="content">
        <img src="{{producto.image}}">
    </div>
    <div id="description" class="content">
        <div class="text">
            <h1>{{producto.name}}</h1>
            <h2>Renta por día: $ {{producto.rentPriceDay}}</h2>
            <h2>Venta: $ {{producto.sellPrice}}</h2>
            <h2>Categoría: {{convertirCategoria(producto.category)}}</h2>
            <h2 style="margin-bottom: 20px;">Item: {{producto._id}}</h2>
            <p>Marca: {{producto.brand}}</p>
            <p>
                Descripción:<br>
                {{producto.description}}
            </p>
            <p>
              Por favor ingresa el periodo de entrega para la venta o el periodo de la renta
            </p>
            <form [formGroup]="fechasModelo" (ngSubmit)="obtenerFechas()">
              <label>Fecha de inicio: </label>
              <input type="date" formControlName="fechaInicio">
              <br>
              <label>Fecha fin: </label>
              <input type="date" formControlName="fechaFin">
              <div>
                <button style="background-color: seagreen; margin-right: 10px;" type="submit" (click)="crearSolicitudEnviada('Venta')">COMPRAR</button>
                <button style="background-color: darkslategrey;" type="submit" (click)="crearSolicitudEnviada('Renta')">RENTAR</button>
            </div>
            </form>
        </div>
    </div>
</section>
<section id="comments">
    <div id="menu">
        <ul class="list">
            <li style="color: black; width: 100px; text-align: center; border-bottom: solid 2px; border-color: black; margin-left: -40px;">Blockchain</li>
            <!--<a [routerLink]="['/historial-producto']" (click)= "setIdProduct()"><li class="history" style="background-color: #5ECE7B; width: 162px; text-align: center;">VER HISTORIAL</li></a>-->
        </ul>
    </div>
    <div id="comments-holder">
        <h1 class="title">Historial</h1>
        <div class="comment" *ngFor="let block of blockchain.blocks">
            <div class="content">
                <p id="in">20</p>
                <h1>Usuario proveedor: {{block.usuarioProveedor}}</h1>
                <h1>Usuario final: {{block.usuarioFinal}}</h1>
                <h2>Tipo de transacción: {{block.tipoTransaccion}}</h2>
                <h3>Fecha de inicio de transacción: {{block.fechaInicio}}</h3>
                <h3>Fecha fin de transacción: {{block.fechaFin}}</h3>
                <p>{{block.comentario}}</p>
                <p id="in">20</p>
            </div>
        </div>
    </div>
</section>
