<section id="filter">
    <form class="search">
        <input class="search-bar" type="search" placeholder="Buscar Productos" aria-label="Search">
        <button type="submit"><svg viewBox="0 0 1024 1024"><path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path></svg></button>
    </form>
    <form class="filter-options" [formGroup]="opcionModel" (ngSubmit)="filtroRentSell()">
        <label for="cars">Modalidad: </label>
        <select name="cars" id="cars" formControlName="rentSell">
          <option value="" selected disabled hidden>Seleccione un filtro</option>
          <option value="Ambos">Ambos</option>
          <option value="Renta">Renta</option>
          <option value="Venta">Venta</option>
        </select>
        <label for="cars">Ordenar por: </label>
        <select name="cars" id="cars" formControlName="orderBy">
          <option value="" selected disabled hidden>Seleccione un filtro</option>
          <option value="">Ninguno</option>
          <option value="asc">Precio: Menor a Mayor</option>
				  <option value="desc">Precio: Mayor a Menor</option>
        </select>
        <button type="submit"><svg viewBox="0 0 1024 1024"><path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path></svg></button>
    </form>
</section>

<section id="products">
    <div id="product-container" *ngFor="let producto of productos">
        <a [routerLink]="['/producto']" routerLinkActive="router-link-active" (click)="setIdProducto(producto._id)" style="text-decoration: none;">
            <div class="product-card">
                <div class="product-image"><img src="../../../assets/Imgs/tanque1.png"></div>
                <div class="description">
                  <h1 style="font-size: 20px; margin-left: 10px; margin-top: 10px; font-weight: lighter;">{{producto.name}}</h1>
                  <h1 style="font-size: 20px; margin-left: 10px; margin-bottom: 20px;font-weight: lighter;">Marca: {{producto.brand}}</h1>
                  <h2 style="font-size: 18px; margin-left: 10px; font-weight: lighter;">{{producto.rentSell}}</h2>
                  <h2 style="font-size: 18px; margin-left: 10px;">Renta por día: $ {{producto.rentPriceDay}}</h2>
                  <h2 style="font-size: 18px; margin-left: 10px;">Venta: $ {{producto.sellPrice}}</h2>
                </div>
            </div>
        </a>
    </div>
</section>
