<nav id="navigation-bar">
    <div id="menu">
        <div class="logo"></div>
        <div class="options">
            <ul class="list">
                <a href="" style="text-decoration: none; color: black;">
                    <li>Inicio</li>
                </a>
                <a routerLink="/categorias" style="text-decoration: none; color: grey;">
                    <li>Categorías</li>
                </a>
                <li><div class="separate"></div></li>
                <a style="text-decoration: none; color: black;" >
                    <li class="button-type" (click)="this.authService.login()"  >Ingresar</li>
                </a>
                <a  style="text-decoration: none;" >
                <li id="register" class="button-type"  (click)="this.authService.login()" >Crear cuenta</li>
                </a>

            </ul>
        </div>


        <label for="check" class="hm"></label>
        <input id="check" type="checkbox">

        <div class="options-res">
          <ul class="list">
                <a href="" style="text-decoration: none; color: white;">
                    <li>Inicio</li>
                </a>
                <a href="" style="text-decoration: none; color: white;">
                    <li style="background-color: grey;" >Categorías</li>
                </a>
                <a href="" style="text-decoration: none; color: white;">
                    <li class="button-type">Ingresar</li>
                </a>
                <a href="" style="text-decoration: none; color: white;">
                    <li id="" class="button-type">Crear cuenta</li>
                </a>
            </ul>
        </div>


    </div>
</nav>

