<section id="cat">
		<div id="container">
			<a target="_blank" href="agentes.html" style="text-decoration: none;">
				<div id="cat-1" class="gallery">
					<div class="desc">Agentes de diagnóstico</div>
				</div>
			</a>
			<a target="_blank" href="insumos.html" style="text-decoration: none;">
				<div id="cat-2" class="gallery">
					<div class="desc">Insumos Odontológicos</div>
				</div>
			</a>
			<a target="_blank" href="material.html" style="text-decoration: none;">
				<div id="cat-3" class="gallery">
					<div class="desc">Material Quirúrgico</div>
				</div>
			</a>
			<a target="_blank" href="higienicos.html" style="text-decoration: none;">
				<div id="cat-4" class="gallery">
					<div class="desc">Productos Higiénicos</div>
				</div>
			</a>
			<a target="_blank" href="equipos.html" style="text-decoration: none;">
				<div id="cat-5" class="gallery">
					<div class="desc">Equipos médicos</div>
				</div>
			</a>
			<a target="_blank" href="protesis.html" style="text-decoration: none;">
				<div id="cat-6" class="gallery">
						<div class="desc">Prótesis, Órtesis, Ayudas Funcionales</div>
				</div>
			</a>
		</div>
</section>
	
<section id="filter">
		<form class="search">
	    	<input class="search-bar" type="search" placeholder="Buscar Productos" aria-label="Search">
	    	<button type="submit"><svg viewBox="0 0 1024 1024"><path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path></svg></button>
	    </form>
		<form class="filter-options">
			<label for="cars">Modalidad: </label>
			<select name="cars" id="cars">
				<option value="volvo">Ninguno</option>
				<option value="saab">Renta</option>
				<option value="opel">Venta</option>
			</select>
			<label for="cars">Ordenar por: </label>
			<select name="cars" id="cars">
				<option value="volvo">Ninguno</option>
				<option value="saab">Nuevo</option>
				<option value="opel">Precio: Menor a Mayor</option>
				<option value="audi">Precio: Mayor a Menor</option>
				<option value="audi">Populares</option>
			</select>
			<button type="submit"><svg viewBox="0 0 1024 1024"><path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path></svg></button>
		</form>
</section>

<section id="products">
		<div id="product-container">
			<a target=	"_blank" href="product.html" style="text-decoration: none;">
				<div class="product-card">
					<div class="product-image"><img src="../../../assets/Imgs/tanque1.png"></div>
					<div class="description">
						<h1 style="font-size: 20px; margin-left: 10px; margin-top: 10px; font-weight: lighter;">Tanque de oxígeno 680L</h1>
						<h2 style="font-size: 18px; margin-left: 10px; font-weight: lighter;">Venta Renta</h2>
						<h2 style="font-size: 18px; margin-left: 10px;">Renta por día: $78.90</h2>
						<h2 style="font-size: 18px; margin-left: 10px;">Venta: $4900.00</h2>
						<h1 style="font-size: 20px; margin-left: 10px; margin-bottom: 20px;font-weight: lighter;">Calificación: 4.5/5</h1>
					</div>
				</div>
			</a>
			<a target=	"_blank" href="product.html" style="text-decoration: none;">
				<div class="product-card">
					<div class="product-image"><img src="../../../assets/Imgs/tanque2.jpeg"></div>
					<div class="description">
						<h1 style="font-size: 20px; margin-left: 10px; margin-top: 10px; font-weight: lighter;">Tanque de oxígeno 680L</h1>
						<h2 style="font-size: 18px; margin-left: 10px; font-weight: lighter;">Renta</h2>
						<h2 style="font-size: 18px; margin-left: 10px;">Renta por día: $78.90</h2>
						<h2 style="font-size: 18px; margin-left: 10px;">Venta: No disponible</h2>
						<h1 style="font-size: 20px; margin-left: 10px; margin-bottom: 20px;font-weight: lighter;">Calificación: 4.5/5</h1>
					</div>
				</div>
			</a>
			<a target=	"_blank" href="producto.html" style="text-decoration: none;">
				<div class="product-card">
					<div class="product-image"><img src="../../../assets/Imgs/tanque3.jpeg"></div>
					<div class="description">
						<h1 style="font-size: 20px; margin-left: 10px; margin-top: 10px; font-weight: lighter;">Tanque de oxígeno 680L</h1>
						<h2 style="font-size: 18px; margin-left: 10px; font-weight: lighter;">Venta Renta</h2>
						<h2 style="font-size: 18px; margin-left: 10px;">Renta por día: $78.90</h2>
						<h2 style="font-size: 18px; margin-left: 10px;">Venta: No disponible</h2>
						<h1 style="font-size: 20px; margin-left: 10px; margin-bottom: 20px;font-weight: lighter;">Calificación: 4.5/5</h1>
					</div>
				</div>
			</a>
			<a target=	"_blank" href="producto.html" style="text-decoration: none;">
				<div class="product-card">
					<div class="product-image"><img src="../../../assets/Imgs/concentradordeoxigeno.jpeg"></div>
					<div class="description">
						<h1 style="font-size: 20px; margin-left: 10px; margin-top: 10px; font-weight: lighter; width: 90%;">Concentrador de oxígeno de 5L</h1>
						<h2 style="font-size: 18px; margin-left: 10px; font-weight: lighter;">Venta Renta</h2>
						<h2 style="font-size: 18px; margin-left: 10px;">Renta por día: $78.90</h2>
						<h2 style="font-size: 18px; margin-left: 10px;">Venta: No disponible</h2>
						<h1 style="font-size: 20px; margin-left: 10px; margin-bottom: 20px;font-weight: lighter;">Calificación: 4.5/5</h1>
					</div>
				</div>
			</a>
			<a target=	"_blank" href="producto.html" style="text-decoration: none;">
				<div class="product-card">
					<div class="product-image"><img src="../../../assets/Imgs/concentrador3.jpeg"></div>
					<div class="description">
						<h1 style="font-size: 20px; margin-left: 10px; margin-top: 10px; font-weight: lighter;">Concentrador de oxígeno de 5L</h1>
						<h2 style="font-size: 18px; margin-left: 10px; font-weight: lighter;">Venta Renta</h2>
						<h2 style="font-size: 18px; margin-left: 10px;">Renta por día: $78.90</h2>
						<h2 style="font-size: 18px; margin-left: 10px;">Venta: No disponible</h2>
						<h1 style="font-size: 20px; margin-left: 10px; margin-bottom: 20px;font-weight: lighter;">Calificación: 4.5/5</h1>
					</div>
				</div>
			</a>
			<a target=	"_blank" href="producto.html" style="text-decoration: none;">
				<div class="product-card">
					<div class="product-image"><img src="../../../assets/Imgs/concentrador3.jpeg"></div>
					<div class="description">
						<h1 style="font-size: 20px; margin-left: 10px; margin-top: 10px; font-weight: lighter;">Concentrador de oxígeno de 8L</h1>
						<h2 style="font-size: 18px; margin-left: 10px; font-weight: lighter;">Venta Renta</h2>
						<h2 style="font-size: 18px; margin-left: 10px;">Renta por día: $78.90</h2>
						<h2 style="font-size: 18px; margin-left: 10px;">Venta: No disponible</h2>
						<h1 style="font-size: 20px; margin-left: 10px; margin-bottom: 20px;font-weight: lighter;">Calificación: 4.5/5</h1>
					</div>
				</div>
			</a>
			<a target=	"_blank" href="producto.html" style="text-decoration: none;">
				<div class="product-card">
					<div class="product-image"><img src="../../../assets/Imgs/oximetro1.jpeg"></div>
					<div class="description">
						<h1 style="font-size: 20px; margin-left: 10px; margin-top: 10px; font-weight: lighter;">Oxímetro</h1>
						<h2 style="font-size: 18px; margin-left: 10px; font-weight: lighter;">Venta Renta</h2>
						<h2 style="font-size: 18px; margin-left: 10px;">Renta por día: $78.90</h2>
						<h2 style="font-size: 18px; margin-left: 10px;">Venta: $4900.00</h2>
						<h1 style="font-size: 20px; margin-left: 10px; margin-bottom: 20px;font-weight: lighter;">Calificación: 4.5/5</h1>
					</div>
				</div>
			</a>
			<a target= "_blank" href="producto.html" style="text-decoration: none;">
				<div class="product-card">
					<div class="product-image"><img src="../../../assets/Imgs/tanque1.png"></div>
					<div class="description">
						<h1 style="font-size: 20px; margin-left: 10px; margin-top: 10px; font-weight: lighter;">Tanque de oxígeno 680L</h1>
						<h2 style="font-size: 18px; margin-left: 10px; font-weight: lighter;">Venta Renta</h2>
						<h2 style="font-size: 18px; margin-left: 10px;">Renta por día: $78.90</h2>
						<h2 style="font-size: 18px; margin-left: 10px;">Venta: $4900.00</h2>
						<h1 style="font-size: 20px; margin-left: 10px; margin-bottom: 20px;font-weight: lighter;">Calificación: 4.5/5</h1>
					</div>
				</div>
			</a>
		</div>
</section>