<!DOCTYPE html>
<html lang="en">
<head>
	<title>PrestaMed | Editar Perfil</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
		<!--Bootstrap-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<!--java script-->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>

<body>
<div class="container-fluid">
    <h2 id="add-product"> Editar perfil</h2>
    <div class="container-form">
    <form class="form-info" [formGroup]="modeloUsuarioEdit" (ngSubmit)="actualizarUsuario()">
      <div class="form-group">
        <label for="exampleInputEmail1">Nombre</label>
        <input type="text" class="form-control" formControlName="first_name" value="{{usuario.first_name}}">
      </div>
      <div class="form-group">
          <label for="exampleInputEmail1">Apellido</label>
          <input type="text" class="form-control" formControlName="last_name" value="{{usuario.last_name}}">
        </div>
      <div class="form-group">
          <label for="exampleInputEmail1">Zona</label>
          <textarea type="text" class="form-control" formControlName="zone" value="{{usuario.zone}}"></textarea>
      </div>
      <button type="submit" class="btn btn-add-product">Editar producto</button>
    </form>

</div>
</div>


</body>

