<section id="banner">
    <div id="content">
        <div class="logo"></div>
        <h1>Tú busca el equipo, nosotros te lo encontramos</h1>
    </div>
    <div id="image"></div>
</section>
<section id="info">
    <div id="mision">
        <h1 class="text">En Prestamed, nos dedicamos a conectar clientes y proveedores para la renta 	o venta de manera</h1>
        <div class="facilsegura">
        </div>
        <a (click)="login()" style="text-decoration: none; color: white; font-weight: bold;"><h1 class="button-link" style="cursor:pointer">Registrate ></h1></a>
    </div>
    <div id="vision">
        <h1 class="text">Buscamos facilitar al acceso a dispositivos de salud a través de una gran red de intercambio</h1>
        <div class="intercambio"></div>
        <a (click)="login()" style="text-decoration: none; color: white; font-weight: bold;"><h1 class="button-link" style="cursor:pointer;">Ir ></h1></a>
    </div>
</section>
