/*
-------------------------------
|                             |
|        Header section       |
|                             |
-------------------------------
*/
#navigation-bar{
	margin-bottom: 50px;
}
#navigation-bar #menu {
	height: 80px;
	background-color: #FFFFFF;
	position: relative;
	z-index: 2;
}
#menu .logo{
	background-image: url("../../../assets/Imgs/logo.png");
	background-size: 100%;                      
  	background-repeat: no-repeat;
  	background-position: center; 
  	width: 70px;
	height: 100%;
	margin-left: 50px;
}
#menu .options .list{
	position: absolute;
	font-size: 18px;
	top: 50%;
	transform: translateY(-50%);
	right: 40px;
}
 #menu .options .list li {
	position: relative;
	display: inline-block;
	margin-right: 40px;
	cursor: pointer;
}
.profile{
	border: solid 0.5px;
	border-color: black;
}
li:hover{
	color: grey;
}

@media (max-width:815px) {

}