<nav id="navigation-bar" class="logged">
    <div id="menu">
        <div class="logo"></div>
        <div class="options">
            <a href=""><div class="cate-icon"></div></a>
            <a href=""><div class="noti-icon"></div></a>
            <label for="checkprf" class="prof-icon" style="margin-right: 30px;"></label>
            <button class="btn btn-delete btn-danger" style="margin-top: 20px; margin-right: 30px;"  (click)="logout()">Cerrar sesión </button>
        </div>
        <input id="checkprf" type="checkbox">
        <div class="options-profile" style="z-index: 2;">
          <ul class="list">
                <a href="" style="text-decoration: none; color: white;">
                    <li>Perfil</li>
                </a>
                <a href="" style="text-decoration: none; color: white;">
                    <li>Mis Solicitudes</li>
                </a>
                <a href="" style="text-decoration: none; color: white;">
                    <li>Mis Productos</li>
                </a>
                <a href="" style="text-decoration: none; color: white;">
                    <li>Mensajes</li>
                </a>
            </ul>
        </div>
    </div>
</nav>