<nav id="navigation-bar" class="logged">
    <div id="menu">
        <div class="logo"></div>
        <div class="options">
            <ul class="list">
                <a routerLink="/categorias" style="text-decoration: none; color: black;">
                    <li>Categorias</li>
                </a>
                <a routerLink="/solicitudes" style="text-decoration: none; color: black;">
                    <li>Solicitudes</li>
                </a>
                <li>
                    <div class="dropdown show">
                        <a class="btn dropdown-toggle profile" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration: none; color: black;">
                            Perfil
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" routerLink="/perfil">Perfil</a>
                            <a class="dropdown-item" routerLink="/solicitudes">Solicitudes enviadas</a>
                            <a class="dropdown-item" routerLink="/my-products">Mis productos</a>
                            <a class="dropdown-item" routerLink="/">Mensajes</a>
                        </div>
                    </div>
                </li>
                <a  style="text-decoration: none;" >
                    <button id="endsesion" class="btn btn-delete btn-danger" (click)="logout()">Cerrar sesión</button>
                </a>

            </ul>
        </div>
    </div>
</nav>
