<div class="title">
    <h2>Mis Solicitudes</h2>
</div>
<section id="holder">
    <div class="container" *ngFor="let solicitud of solicitudes">
        <img src="{{solicitud.image}}" alt="Pancake">
        <div class="container__text">
            <h1>{{solicitud.name}}</h1>
            <p>Marca: </p> <p>{{solicitud.brand}}</p><br>
            <p>Descripción: </p> <p>{{solicitud.description}}</p><br>
            <p>Modalidad: </p> <p>{{solicitud.rentSellSelection}}</p><br>
            <p>Categoría: </p> <p>{{convertirCategoria(solicitud.category)}}</p><br>
            <p>Estatus: </p> <p>{{solicitud.status}}</p><br>
            <p>Comentario: </p> <p>{{solicitud.comment}}</p>
        </div>
    </div>
</section>
