<div class="title">
    <h2>Solicitudes</h2>
</div>
<section id="holder">
    <div class="container">
        <img src="../../../assets/Imgs/tanque1.png" alt="Pancake">
        <div class="container__text">
            <h1>Tanque de oxígeno 680 L</h1>
            <p>Marca: </p> <p>Oxiplus</p><br>
            <p>Descripción: </p> <p>Incluye cilindro de aluminio con capacidad de 680 l
                Regulador de aluminio con flujómetro
                Vaso humidificador y carrito transportador.</p><br>
            <p>Modalidad: </p> <p>Renta</p><br>
            <p>Categoría: </p> <p>Equipos médicos</p><br>
            <p>Estatus: </p> <p>En posesión</p>
            <a href="editarMispRoductos.html">
                <button class="btn btn-aceptar">Aceptar</button>
            </a>
            <a href="editarMispRoductos.html">
                <button class="btn btn-rechazar">Rechazar</button>
            </a>
        </div>
    </div>
    <div class="container">
    <img src="../../../assets/Imgs/tanque1.png" alt="Pancake">
    <div class="container__text">
        <h1>Tanque de oxígeno 680 L</h1>
        <p>Marca: </p> <p>Oxiplus</p><br>
        <p>Descripción: </p> <p>Incluye cilindro de aluminio con capacidad de 680 l
            Regulador de aluminio con flujómetro
            Vaso humidificador y carrito transportador.</p><br>
        <p>Modalidad: </p> <p>Renta</p><br>
        <p>Categoría: </p> <p>Equipos médicos</p><br>
        <p>Estatus: </p> <p>En posesión</p>
        <a href="editarMispRoductos.html">
            <button class="btn btn-aceptar">Aceptar</button>
        </a>
        <a href="editarMispRoductos.html">
            <button class="btn btn-rechazar">Rechazar</button>
        </a>
    </div>
    </div>
</section>