
      <body>
        <h2>Historial</h2>


        <div class="container container-fluid" *ngFor="let block of blockchain.blocks">
            <img src="../../../assets/Imgs/tanque1.png" alt="Producto"/>
            <div class="container__text">
             <p>Fecha inicio de transacción: </p> <a>{{block.fechaInicio}}</a>
             <br>
             <p>Fecha fin de transacción: </p> <a>{{block.fechaFin}}</a>
             <br>
             <p>Tipo de transacción: </p> <a>{{block.tipoTransaccion}}</a>
             <br>
             <p> Usuario proveedor: </p> <a>@JimeBB</a>
             <br>
             <p>Usuario final: </p> <a>@Nanmed</a>
             <br>
             <p>Comentario: </p> <a>{{block.comentario}}</a>
             </div>
        </div>


    </body>
