
      <body>  
        <h2>Historial</h2>
       

        <div class="container container-fluid">
            <img
             src="Images/tanque1.png" alt="Producto"
            />
            <div class="container__text">
             <p>Fecha inicio de transacción: </p> <a>08/09/2021</a>
             <br>
             <p>Fecha fin de transacción: </p> <a>11/09/2021</a>
             <br>
             <p>Tipo de transacción: </p> <a>Renta</a>
             <br>
             <p> Usuario proveedor: </p> <a>@JimeBB</a>
             <br>
             <p>Usuario final: </p> <a>@Nanmed</a>
             <br>
             <p>Comentario: </p> <a>La renta estuvo muy bien. El proveedor fue muy amable.</a>
             </div>
            
        </div>
    
           
    </body>