<div class="title">
    <h2>Mis solicitudes pendientes</h2>
</div>
<section id="holder">
  <div class="container" *ngFor="let solicitud of solicitudes; let i = index">
    <img src="../../../assets/Imgs/tanque1.png" alt="Pancake">
    <div class="container__text">
        <h1>{{solicitud.name}}</h1>
        <p>Marca: </p> <p>{{solicitud.brand}}</p><br>
        <p>Descripción: </p> <p>{{solicitud.description}}</p><br>
        <p>Modalidad: </p> <p>{{solicitud.rentSellSelection}}</p><br>
        <p>Categoría: </p> <p>{{convertirCategoria(solicitud.category)}}</p><br>
        <p>Estatus: </p> <p>{{solicitud.status}} {{solicitud.indice}}</p>

        <button class="btn btn-aceptar" (click)="actualizarEstado('aceptada', i)">Aceptar</button>
        <button class="btn btn-rechazar" (click)="actualizarEstado('rechazada', i)">Rechazar</button>
    </div>
  </div>
</section>
